.chatContainer{
    width: 100%;
    height:fit-content;
    display: flex;
    flex-direction: row-reverse;
    padding: 7px 15px;
    box-sizing: border-box;
}
.profile{
    width: 9.4vw;
    height: 4.3vh;
    border-radius: 50%;
}
.nickName{
    box-sizing: border-box;
    position: inherit;
    right: 1px;
    width: fit-content;
    display: flex;
    align-items: end;
}
.nickName > p{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-right: 3px;
}
.chatting{
    background-color: #52DD63;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 16px;
    margin-top: 6px;
    margin-left: 10px;
    box-sizing: border-box;
}
.date{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

