.container{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.study-container{
    display: flex;
    overflow-x: scroll;
    column-gap: 10px;
    padding-left: 5%;
    height: 15vh;
}