.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    overflow: hidden;
}

.div-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.5% 6%;
}

.select {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    margin-bottom: 5.5%;
}

.task,
.study {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3% 4%;
    font-weight: var(--Medium);
    font-size: 16px;
    color: white;
}

.clickedTask,
.clickedStudy {
    background-color: white;
    color: var(--main-color);
}

.scroll-content {
    width: 100%;
    height: 59vh;
}