.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5%;
    row-gap: 15px;
    background-color: #252831;
}

.image-container {
    display: flex;
    column-gap: 10px;
}
.image-container > input[type="file"] {
    display: none;
}

.task-title,
.task-content,
.task-link,
.task-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 12px;
}

.task-image {
    align-items: flex-start;
}

.task-title > input,
.task-link > input {
    padding-left: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.task-title > p,
.task-content > p,
.task-link > p,
.task-image > p {
    font-weight: var(--Medium);
    font-size: 16px;
    color: white;
}

.task-content > textarea {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4%;
}

.task-link > p,
.task-image > p {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.image-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--line-color);
    border-radius: 10px;
    color: var(--line-color);
}

.imageURL {
    width: 50px;
    height: 50px;
}
.imageURL > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div-image {
    display: flex;
    flex-direction: column;
}

.div-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    top: -11%;
    left: 9%;
}

.div-button {
    width: 100%;
    height: 5.5vh;
    margin-top: 11.8%;
}
