.menuBarContainer{
    position: fixed;
    bottom: 0; 
    width: 100%; 
    height: 9.9vh;
    display: flex;
    justify-content: space-around;
    background-color: #252831;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 13px 39px 0px 39px;
    box-sizing: border-box;
}
.menuBarContainer > li{
    display: block;
}
.round {
    width: 13vw;
    height: 6vh;
    border-radius: 100%;
    background-color: #52DD63;
    position: relative;
    top:-13px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}