/* Pretendard 폰트 */
@import url('https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.min.css');

:root {
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;

    --line-color: #4D5365;
}

* {
    position: relative;
    margin: 0;
    top: 0;
    font-family: 'Pretendard';
}