.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.container > div:last-child {
    margin-bottom: 15px;
}